/*PAGE BACKGROUND*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*LOGIN CONTAINER*/
.login-container{
  background-color: ffffff;
  width: 320px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(o, 0, 0, 0.1);
}

/*Login Title*/
.login-title{
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/*Login form*/
.login-form{
  max-width: 380px;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/*Input groups*/
.input-group{
  margin-bottom: 1.2rem;
}

.input-group label{
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: #333;
}

.login-input{
  width: 100%;
  padding: 0.6rem;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-input focus {
  outline: none;
  border-color: #0b3c5d;
}

/*Button*/
.login-button {
  width: 100%;
  padding: 0.7rem;
  background-color: #333;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color:  #092f49;
}